body {
    background-color:#f9f9f9;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}

.box {
    width: 1060px;
    height: 950px;
    margin: 0 auto 0 auto;
    background-color: white;
}

.text {
    margin: 45px;
    padding-top: 50px;
}

.fitness {
    display: block;
    margin: 0px 870px 40px 0px;
}

.topmenu {
    list-style:none;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #565555;
}

.topmenu li {
    display: inline;
    margin-right: 25px;
}

.topmenu li a {
    color:white;
    text-decoration:none;
    padding: 11px 25px 12px 25px;
}

.topmenu li a:hover {
    background-color:#363636;  
    padding-left: 24px;
    padding-right: 24px;   
    border-left: 1px solid #838385;;
    border-right: 1px solid #838385;
}

.layout {
    width: 100%;
    margin-top: 40px;
}

.clearfix:after{
    content: '';
    clear: both;
    display:block;
}

.sidemenu {
    float: left;
    width: 240px;
    text-align: left;
    border-top: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
}

.sidemenu li a {
    text-decoration:none;
    color:#656363;
    display: block;
    padding: 13px 5px 13px 23px;
    border-bottom: 1px solid #c8c8c8;
  }

.sidemenu li a:hover {
    color: black;
    padding-left:40px;
    background-color: #e1e1e1;
}

.content{
    width:70%;
    display: block;
    float: right;
    margin: 0 auto;
    padding:0;
}

.bike img {
    display: block;
    margin:0 auto;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
}

.lorem {
    display: block;
    margin-top:40px;
    line-height:1.5;
    color:#565656;
    padding: 0 25px;
    font-size: 13px;
}

.bottommenu {
    list-style:none;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #565555;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #e1e1e1;
}

.bottommenu li {
    display: inline-block;
    margin-right: 25px;
}

.bottommenu li a {
    display: inline-block;
    text-decoration:none;
    padding: 0 25px 0 25px;
    color: #2c2c2c;
}

.bottommenu li a:hover {
    text-decoration: underline;
}

.copy {
    padding-left:213px;
}
